<h2>User Details</h2>

<div class="container">

  <div class="btn-toolbar  float-right">
    <button class="btn btn-danger  mr-3" (click)="deleteUser()">Delete User</button>
    <button class="btn btn-primary  mr-3" (click)="toogleEditMode()">
      Edit User Details
    </button>
    <button class="btn btn-secondary mr-3" (click)="closeUserDetails()">
      Close User
    </button>
  </div>

  <br /><br />
  <hr/>

  <div class="row">
      <div class="container">
        <div class="row">
          <div class="col">
            <h5>Name:{{ userDetails.name }}</h5>
          </div>
          <div class="col">
            <h5>Surname:{{ userDetails.surname }}</h5>
          </div>
        </div>
    
        <div class="row">
          <div class="col">
            <h5>Birthdate:{{ userDetails.birthDate | date:'dd/MM/yyyy'}}</h5>
          </div>
          <div class="col">
            <h5>E-mail:{{ userDetails.emailAddress }}</h5>
          </div>
        </div>
    
        <div class="card detailsCard" style="width: 18rem">
          <div class="card-header">
            <h4>User Type</h4>
          </div>
          <div class="card-body">
            <h4>Code: {{ userDetails.userTypeCode }}</h4>
            <br />
            <h4>Description: {{ userDetails.userTypeDescription }}</h4>
          </div>
        </div>
    
        <br />
        <div class="card detailsCard" style="width: 18rem">
          <div class="card-header">
            <h4>User Title</h4>
          </div>
          <div class="card-body">
            <h4>Description:{{ userDetails.userTitleDescription }}</h4>
          </div>
        </div>
      </div>
  </div>

</div>


