<div *ngIf="isEditMode; then editTemplate else viewTemplate"></div>


<h2>{{isEditMode ? "Edit User" : "Add New User" }}</h2>

<ng-template #viewTemplate>
  <div class="container">
    <h2>User Details</h2>
    <div class="row">
      <div class="col"><button class="btn btn-danger">Delete User</button></div>
      <div class="col"><button class="btn btn-primary">Edit User</button></div>
      <div class="col"><button class="btn btn-danger">Close User</button></div>
    </div>  
    <div class="row">
      <div class="row">
        <div class="col">
          <p>Name:{{userDetails.Name}}</p>
        </div>
        <div class="col">
          <p>SurName:{{userDetails.Surname}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Birthdate:{{userDetails.BirthDate}}</p>
        </div>
        <div class="col">
          <p>E-mail:{{userDetails.EmailAddress}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Card -->
      <div class="card" style="width: 100%;">
        <div class="card-header">
            <h4>User Type</h4>
        </div>
        <div class="row">
          <!-- <h4>Code:{{userDetails.UserTypeCode}}</h4> -->
        </div>
        <div class="row">
          <!-- <h4>Description:{{userDetails.UserTypeDescription}}</h4> -->
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Card -->
      <div class="card" style="width: 100%;">
        <div class="card-header">
            <h4>User Title</h4>
        </div>
        <div class="row">
          <!-- <h4>Description:{{userDetails.}}</h4> -->
        </div>
      </div>
    </div>
  </div>
  
</ng-template>
<ng-template #editTemplate>
  <div class="container">
    <h2>Edit User Details</h2>
    <div class="row">
      <div class="col"><button class="btn btn-danger">Delete User</button></div>
      <div class="col"><button class="btn btn-primary">Edit User</button></div>
      <div class="col"><button class="btn btn-danger">Close User</button></div>
    </div>  
    <div class="row">
      <div class="row">
        <div class="col">
          <p>Name:{{userDetails.Name}}</p>
        </div>
        <div class="col">
          <p>SurName:{{userDetails.Surname}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Birthdate:{{userDetails.BirthDate}}</p>
        </div>
        <div class="col">
          <p>E-mail:{{userDetails.EmailAddress}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Card -->
      <div class="card" style="width: 100%;">
        <div class="card-header">
            <h4>User Type</h4>
        </div>
        <div class="row">
          <!-- <h4>Code:{{userDetails.UserTypeCode}}</h4> -->
        </div>
        <div class="row">
          <!-- <h4>Description:{{userDetails.UserTypeDescription}}</h4> -->
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Card -->
      <div class="card" style="width: 100%;">
        <div class="card-header">
            <h4>User Title</h4>
        </div>
        <div class="row">
          <!-- <h4>Description:{{userDetails.}}</h4> -->
        </div>
      </div>
    </div>
  </div>
  
</ng-template>
