<div class="container">
    <h4>User Control Page</h4>
    <br/>
    <div class="row">
        <div class="col">
            <h3>Users Menu</h3>
        </div>
        <div class="col">
            <button type="button" (click)="openAddUserDialog()" class="btn btn-secondary">Add New User</button>
        </div>
    </div>
    
    <hr/>
    <div class="row">
        <div class="alert alert-dark" role="alert">
            Click in user to open user details
        </div>
    </div>
    <br/>
    <div class="tableView">
         <app-users-table [isMiniTable]="false" [users]='users'></app-users-table> 
    </div>
</div>
